/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.page-wrapper {
  position: relative;
  background-color: #343a40;
  /* Set the gradient background with three different colors */
  background: linear-gradient(
    217deg
    , rgba(255,0,0,0.8), rgba(255,0,0,0) 50.71%),linear-gradient(
    127deg
    , rgba(255, 0, 191, 0.8), rgba(0,255,0,0) 70.71%),linear-gradient(
    336deg
    , rgba(255, 251, 0, 0.8), rgba(0,0,255,0) 70.71%);
  /* Set the background size to 200% x 200% to create a bigger and smoother gradient animation */
  background-size: 200% 200%;
  /* Set the animation properties with a duration of 15 seconds and an ease timing function */
  animation: gradient 15s ease infinite;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

/* Define the animation keyframes with the desired background positions */
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}


#form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
